 
 
.cards {
 
    perspective: 2200px;
    cursor: pointer;
    transition: all 0.5s ease;
    transform-style: preserve-3d;
   
  }
  .workCard {
    border-radius: 100%;
    width: 270px;
    height: 200px;
    background: linear-gradient(180deg, #112829, #173948);
  }
  
  .cards:nth-child(2) {
    position: relative;
    top: 80px;
  }
  .cards:nth-child(4) {
    position: relative;
    top: 80px;
  }
  .cards:nth-child(6) {
    position: relative;
    top: 80px;
  }
  .cards:nth-child(8) {
    position: relative;
    top: 80px;
  }
  .cards:nth-child(10) {
    position: relative;
    top: 80px;
  }
  .inner-box {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  .cards-front,
  .cards-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cards-front2,
  .cards-back2 {
    border-radius: 100%;
  }
  .projectServicesCard {
    width: 280px;
    background: linear-gradient(180deg, #112829, #173948);
    height: 80px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #fff;
    display: grid;
    place-content: center;
  }
  
  .cards-front {
    background-size: cover;
    background-position: center;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .cards-front2 {
    background: #F97316;
    color: #fff;
  }
  .cardsFront2,
  .cardsFront3,
  .cardsFront4 {
    background: linear-gradient(180deg, #112829, #173948) !important;
  }
  
  .cards .cards-back-content,
  .cards-front {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .cards-back {
    background: linear-gradient(180deg, #112829, #173948);
    transform: rotateY(180deg);
  }
  
  .cards:hover .inner-box {
    transform: rotateY(-180deg);
  }
   
   
  .ourServicesRightSide {
    position: relative;
  }
  .cardLine,
  .cardLine2,
  .cardLine3,
  .cardLine4 {
    position: absolute;
    z-index: -2;
    top: 0;
  }
  .cardLine2,
  .cardLine3,
  .cardLine4 {
    width: 125px;
    height: 1px;
    border: 1px dashed;
    top: 262px;
    left: 254px;
    rotate: -25deg;
  }
  
  .cards-back2 {
    background: linear-gradient(180deg, #112829, #173948);
  }
  .cardLine3 {
    top: 395px;
    rotate: 22deg;
    left: 251px;
  }
  
  .cardLine4 {
    top: 487px;
    rotate: -27deg;
    left: 251px;
  }
  
   
    
    @keyframes move {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-400px); 
      }
      100% {
        transform: translateY(0);
      }
    }
    @keyframes move {
      0%{
          transform: translateX(0);
      }
      50%{
          transform: translateX(-400px);
      }
      100%{
          transform: translateX(0);
      }
      
   }
    
  
  @media only screen and (max-width: 768px) {
    .ourServicesRightSide::before {
      display: none;
    }
  }
  